* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.wrapper {
    width: 100%;
}

.main_header {
    width: 100%;
    /* text-align: center; */
}

.logo {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    display: inline-block;
    color: green;
    width: 300px;
    font-size: 25px;

}

.header_nav {
    display: inline-block;
}

.main_list>li {
    display: inline-block;
    background-color: white;
    width: 150px;
    height: 40px;
    text-align: center;
}

.main_list a {
    text-decoration: none;
    color: green;
}

.main_list>li>ul {
    display: none;
}

.main_list>li:hover>ul {
    display: block;
}

.main_list>li>ul>li {
    position: relative;
    z-index: 100;
}