* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.wrapper {
    width: 100%;
}

.main_header {
    width: 100%;
    /* text-align: center; */
}

.logo {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    display: inline-block;
    color: green;
    width: 300px;
    font-size: 25px;

}

.header_nav {
    display: inline-block;
}

.main_list>li {
    display: inline-block;
    background-color: white;

}

.main_list a {
    text-decoration: none;
    color: green;
}