{% load static %}
<!DOCTYPE HTML>
<html lang="pl">

<head>
    <meta chatset="utf-8" />
    <title>WARZYWONLINE</title>
    <meta name="descritpion" content="giełda owoców i warzyw online" />
    <meta name="keywords" content="warzywa, owoce, jarmark, rynek">
    <meta name="author" content="Oskar Fryc & Jakub Podhajski">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" href="{%static 'main\style.css'%}?{% now 'U' %}">
</head>

<body>
    <header id="main_header">
        <li><a href="#"><h1>warzywOnline</h1></a></li>
        <!-- przekierowywuje do strony głównej -->
        <nav>
            <ol class="main_list">
                <li><a href="#">Zaloguj</a></li>
                <!-- po zalogowaniu zmienia się w "Konto" -->

                <li><a href="#">Warzywa</a>
                    <ul>
                        <li><a href="#">Niegazowana</a></li>
                        <li><a href="#">Lekko gazowana</a></li>
                        <li><a href="#">Gazowana</a></li>
                    </ul>
                </li>
                <li><a href="#">Owoce</a>
                    <ul>
                        <li><a href="#">x</a></li>
                        <li><a href="#">x</a></li>
                        <li><a href="#">x</a></li>
                    </ul>
                </li>
                <li><a href="#">Zborza</a>
                    <ul>
                        <li><a href="#">x</a></li>
                        <li><a href="#">x</a></li>
                        <li><a href="#">x</a></li>
                    </ul>
                </li>
            </ol>
        </nav>
    </header>
</body>

</html>